body{
	/*background-image: url('whole_bg.jpg')*/
}


.post {
	color: blue;
	font-size: 36px;
}

.post li{
	display: block;
}

.header h1{
	color: white;
	background-image: url('background.jpg');
	text-align: center;
	font-size: 48px;
}

.header p{

}

.nav li{
	padding: 14px 10px;
	display: inline;
	text-transform: uppercase;
	color: black;
}

