.post h1{
	color: blue;
	font-size: 36px;
}

.header {
	/*:height: 400px;*/
	background-image: url('background.jpg');
}
.header h1{
	color: red;
	font-size: 48px;
}

.nav li{
	padding: 14px 10px;
	display: inline;
	text-transform: uppercase;
}
