<!DOCTYPE html>

<html lang="ja">
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "listing/Rtoaster.js" %}"></script>
	<script type="text/javascript">
		Rtoaster.init("RTA-4854-6885a38dfd6c");
		Rtoaster.track();
	</script>
	<meta charset="utf-8">
	<title> Sports Shop </title>
	<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "listing/main.css"  %}">
</head>
<body>
 <div id="top_page">
 <h1>Hello, Welcome to our Sports News Site!</h1>
 </div>
 <div class="post">
  <ul>
  {% for post in posts %}
   <li>
	<div>
	{% load staticfiles %}
	{% with id=post.id|stringformat:"s" %}
	{% with 'listing/'|add:id|add:'.jpg' as image  %}
	<h1>{{post.image}}</h1>
	<a href="/listing/{{post.id}}/"><img src="{% static image  %}" width="150"/></a>
	{% endwith %}
	{% endwith %}
	<p>{{post.post_text}}</p>
	</div>
   </li>
  {% endfor %}
  </ul>
 </div>
<script type="text/javascript">
Rtoaster.recommendNow("top_page");
</script>
</body>
</html>
