<!DOCTYPE html>

<html lang="ja">
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "listing1/Rtoaster.js" %}"></script>
	<script type="text/javascript">
		Rtoaster.init("RTA-4854-6885a38dfd6c");
		Rtoaster.track();
	</script>
	<meta charset="utf-8">
	<title> Ranking page </title>
	<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "listing1/main.css"  %}">
</head>
<body>
	{% include "listing1/header.html"  %}
	<div class="container">
	<div class="col-md-6">
	<iframe src="/listing1/football/" width="600" height="400" frameBorder="0">
	</iframe>
	</div>
	<div class="col-md-6">
	<iframe src="/listing1/basketball/" width="600" height="400" frameBorder="0">
	</iframe>
	</div>
	</div>
<script type="text/javascript">
	Rtoaster.recommendNow();
</script>
</body>
</html>
