<!DOCTYPE html>

<html lang="ja">
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "listing1/Rtoaster.js" %}"></script>
	<script type="text/javascript">
		Rtoaster.init("RTA-4854-6885a38dfd6c");
		Rtoaster.track();
	</script>
	<meta charset="utf-8">
	<title> Ranking Football</title>
	<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "listing1/main.css"  %}">
</head>
<body>
	<div class="post">
	<div class="container">
		<ul>
			<li>
			<div class="recommend">
				Football top news:
			</div>
			</li>
			<div id="best_football">
			<li>	
				<div id="best_football_1">
				</div>
			</li>
			</div>
		</ul>
	</div>
	</div>
<script type="text/javascript">
	Rtoaster.category("2")
	Rtoaster.recommendNow("best_football");
</script>
</body>
</html>
